body {
	margin: 0;
}

.wrapper {
	height: 100vh;
	width: 100wh;
	position: relative;
	background-image: url(../img/bg.jpg);
	background-size: cover;
}

header {
	width: 100%;
	position: absolute;
	top: 0;
}

.logo {
	width: 213.99px;
	height: 79.01px;	
	margin: 34px auto 0 auto;
	background-image: url(../img/logo.png);
}

main{
	display: table;
	width: 100%;
	height: 100%;
	position: relative;
}

.cell {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}

.cell h1 {
	font-family: 'gothic', sans-serif;
	font-size: 54px;
	font-weight: normal;
	margin-top: 0px;
	margin-bottom: 35px;
}

.cell p {
	font-family: 'Roboto Light', sans-serif;
	font-size: 18px;
	margin-top: 0px;
	margin-bottom: 45px;
}

.cell a {
	display: inline-block;
	border: 2px solid rgba(0,0,0,.4);
	font-family: 'Roboto Light', sans-serif;
	font-size: 15px;
	color: rgba(0,0,0,.4);
	padding: 7px 54px;
	text-decoration: none;
}

.cell a:hover {
	border: 2px solid rgba(0,0,0,1);
	color: rgba(0,0,0,1);
}		

.cell a:active {
	border: 2px solid rgba(0,0,0,1);
	color: rgba(0,0,0,1);
}

footer {
	width: 100%;
	position: absolute;
	bottom: 0;
	text-align: center;
}
	
footer p {
	font-family: 'Roboto Light', sans-serif;
	font-size: 13px;
	margin-top: 0px;
	margin-bottom: 34px;
}	
